#canvas-container {
    width: 100%;
    text-align:center;
}
canvas {
    display: inline;
}
body {
    background-color: #090809;
}

.controls {
    color: #f5f5f5;
}

.warning {
    color: #aa2121;
}